@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

:root {
	--background: #faf1d6;
	--foreground: oklch(0.3211 0 0);
	--primary: #f29421;
	--primary-foreground: oklch(0.3211 0 0);
	--secondary: #da4891;
	--secondary-foreground: oklch(0.3211 0 0);
	--muted: oklch(0.8853 0 0);
	--muted-foreground: #807763;
	--accent: #dfd7c4;
	--accent-foreground: oklch(0.3211 0 0);
	--destructive: oklch(0.5594 0.19 25.8625);
	--destructive-foreground: oklch(1 0 0);
	--border: #63452e;
	--outline: #d1a471;
	--input: oklch(0.9067 0 0);
	--font-sans: Montserrat, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Fira Code, monospace;
	--radius: 0.35rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.15;
	--shadow-color: #63452e;
	--shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
	--shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
	--shadow-sm:
		0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
	--shadow:
		0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
	--shadow-md: 3px 4px 0px 0px #63452e;
	--shadow-lg:
		0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
	--shadow-xl:
		0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
	--shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 2px;
	--letter-spacing: 0em;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-outline: var(--outline);
	--color-input: var(--input);

	--font-sans: Inter, sans-serif;
	--font-mono: Fira Code, monospace;
	--font-serif: Georgia, serif;

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
	--radius: 0.35rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
	*,
	*::after,
	*::before {
		@apply p-0 m-0 box-border;
	}

	body {
		@apply text-foreground;
		background: #3f9ed4;
		/* biome-ignore lint:suspicious/noDuplicateProperties */
		background: -webkit-linear-gradient(
			0deg,
			#3f9ed4 0%,
			rgba(63, 157, 212, 0.58) 100%
		);
		background: linear-gradient(
			0deg,
			#3f9ed4 0%,
			rgba(63, 157, 212, 0.58) 100%
		);
		font-family: "Press Start 2P", system-ui, -apple-system, sans-serif;
		image-rendering: pixelated;
		image-rendering: crisp-edges;
	}

	h1 {
		font-size: clamp(1.05rem, calc(1.05rem + 0.27vw), 1.68rem);
		line-height: 1.25;
		font-weight: bold;
	}

	h3 {
		font-size: clamp(0.84rem, calc(0.84rem + 0.144vw), 1.008rem);
		font-family: var(--font-mono);
		font-weight: 700;
	}

	p {
		font-size: clamp(0.56rem, calc(0.56rem + 0.06vw), 0.63rem);
	}

	.icon-lg {
		@apply w-[clamp(1.53125rem,3.0625vw,2.1875rem)] h-[clamp(1.53125rem,3.0625vw,2.1875rem)];
	}

	.icon-md {
		@apply w-[clamp(1.09375rem,2.1875vw,1.53125rem)] h-[clamp(1.09375rem,2.1875vw,1.53125rem)];
	}

	.icon-sm {
		@apply w-[clamp(0.765625rem,1.53125vw,1.09375rem)] h-[clamp(0.765625rem,1.53125vw,1.09375rem)];
	}
}
